* {
  margin: 0px;
  padding: 0px;
}

header {
  margin: 50px 10px;
  font-size: 60px;
  color: F4ABC4;
  text-align: center;
  font-family: fantasy;
  font-weight: 900;
}

body {
  width: 960px;
  margin: 0 auto;
  background-color: 060930;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 420px;
  margin: 0 auto;
  gap: 5px 5px;
}

.grid .block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  color: 060930;
  background-color: F4ABC4;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
}

h2 {
  margin-top: 30px;
  font-family: fantasy;
  color: F4ABC4;
  font-weight: 100;
  text-align: center;
}